<h1>Edit comment</h1>

<%= @comment.errors.full_messages.join(", ") %>
<%= form_for @comment do |f| %>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <%= f.submit %>
<% end %>
