<%= simple_form_for @user do |f| %>
  <%= f.input :first_name, :label => "First Name" %>
  <%= f.input :last_name, :label => "Last Name" %>
  <%= f.input :email, :label => "Email" %>
  <hr>
  <div class="actions"><%= submit_tag "Submit", class: "btn btn-danger btn-custom"%>
  </div>
<% end %>
