
<h1> Create an Account </h1>
<div class="container">
  <%= @user.errors.full_messages.join(", ") %>
  <%= simple_form_for @user do |f| %>
    <%= f.input :first_name, :label => "First Name" %>
    <%= f.input :last_name, :label => "Last Name" %>
    <%= f.input :email, :label => "Email" %>
    <%= f.input :password, :label => "Password", required: true %>
    <%= f.input :password_confirmation, :label => "Password Confirmation", required: true %>
    <hr>
    <%= f.button :submit, class: "btn btn-default" %>
  <% end %>
</div>
