<%= @post.errors.full_messages.join(", ") %>
<%= form_for @post do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
  <%= f.collection_select :category_id, Category.order(:name), :id, :name %>
  </div>
  <%= f.submit %>
<% end %>
