<%= simple_form_for @post do |f| %>
  <%= f.input :title %>
  <%= f.input :body %>
  <%= f.association :category, include_blank: false %>
  <%= f.association :tags, as: :check_boxes %>
  <div class="actions"><%= submit_tag "Submit", class: "btn btn-danger btn-custom"%>
  </div>
<% end %>
